*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #7C5F4B;
}

h1,
h3 {
    font-family: 'Shrikhand', cursive;
}

a {
    text-decoration: none;
    font-family: 'Karma', serif;
}

.titre {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
}

.titre h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    text-align: center;
    font-size: clamp(30px, 8vw, 70px);
    width: 100%;
    font-weight: lighter;
    color: rgb(200, 200, 200);
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.479);
    background: #0474B5;
}

.titre img {
    max-width: 50px;
    width: 10%;
}

nav {
    position: absolute;
    z-index: -1;
    text-align: center;
    bottom: 0;
    font-size: 30px;
    letter-spacing: 2px;
    height: 50px;
    width: 100%;
    transition: bottom 0.2s ease-in-out;
    border-bottom: 1px solid black;
    background: #0474B5;
}

.titre:hover nav {
    bottom: -49px;
}

nav a {
    position: relative;
    color: rgb(200, 200, 200);
    font-weight: 900;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: rgb(200, 200, 200);
    transition: width 0.2s ease-in-out;
}

nav a:hover::after {
    width: 80%;
}

/******************** main *******************/

main {
    position: relative;
    z-index: 90;
    display: flex;
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.493);
}

.container-image {
    shape-outside: circle();
    height: 400px;
    width: 500px;
    float: left;
    padding: 0 100px 20px 0;
}

.container-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.678);
}

.info p {
    line-height: 40px;
}

/********** block ingredients **************/

.ingredients .btn-ingredient {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 50px;
    height: 330px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    background-color: #0474B5;
    color: white;
    font-family: 'Karma', serif;
    transition: right 0.4s ease-in-out;
}

main:hover .btn-ingredient {
    right: -50px;
}

.liste-ingredient {
    position: absolute;
    z-index: -1;
    top: 0;
    right: -300px;
    width: 300px;
    font-size: clamp(18px, 6vw, 25px);
    padding: 10px 25px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.719);
    background: #7C5F4B;
    transition: opacity 0.4s ease-in-out;
}

.liste-ingredient h4 {
    font-size: clamp(20px, 6vw, 30px);
    margin-bottom: 10px;
}

.btn-ingredient:focus+.liste-ingredient {
    opacity: 1;
    visibility: visible;
}

.block-instruction {
    padding: 20px 30px;
    background: #C4C4C4;
}

.block-instruction p {
    padding-top: 5px;
    font-size: clamp(18px, 6vw, 25px);
    text-align: justify;
}

.block-instruction a {
    float: right;
    color: black;
    font-style: italic;
}

.marinade h3,
.instructions h3 {
    font-size: clamp(25px, 6vw, 35px);
    letter-spacing: 1px;
    text-align: center;
    font-weight: lighter;
    cursor: pointer;
}

.marinade h3.active+ul {
    display: block;
}

.instructions h3.active+ul {
    display: block;
}

ul li {
    line-height: 40px;
    font-size: clamp(18px, 6vw, 25px);
}

.marinade h3 img,
.instructions h3 img {
    width: 20px;
    margin-left: 20px;
}

.marinade ul,
.instructions ul {
    display: none;
}

.marinade ul li,
.instructions ul li {
    list-style: none;
}

@media screen and (max-width: 1620px) {
    .ingredients .btn-ingredient {
        right: unset;
        left: 0;
        z-index: 1;
        width: 35px;
        border-top-right-radius: unset;
        border-top-right-radius: unset;
    }

    main:hover .btn-ingredient {
        right: unset;
    }

    .liste-ingredient {
        z-index: 1;
        top: 0;
        right: unset;
        left: 0;
        border-top-right-radius: unset;
    }
}

@media screen and (max-width: 850px) {

    .container-image {
        margin: 0 auto 10px;
        shape-outside: none;
        width: 100%;
        height: 300px;
        float: none;
        padding: 0;
    }

    .container-image img {
        width: 100%;
        border-radius: 10px;
    }

    .info p,
    ul li {
        line-height: 30px;
    }

}

@media screen and (max-width:425px) {

    main {
        width: 100%;
        margin: 20px 0;
    }

    .block-instruction {
        padding: 20px;
    }

    .liste-ingredient {
        width: 100%;
        border-radius: unset;
    }

}